{% extends 'base.html' %}

{% block title %}
    Main Page
{% endblock %}

{% block head %}
        <script src="/static/js/timer.js"></script>
{% endblock %}

{% block content %}
    <div class="container small-card">
        <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#add-visitor-modal">Add visitor</a>
        <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#discharge-modal">Discharge</a>
        {% if is_admin %}
            <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#register-modal">Add operator</a>
            <a class="btn btn-primary" href="/statistics">Statistics</a>
        {% endif %}
        <a class="btn btn-primary" href="/close_shift">Close shift</a>
        <span style="float: right" class="btn btn-primary" href="#" data-toggle="modal" data-target="#current-cash-modal"><i class="fa fa-money"></i></span>
        <span style="float: right" class="btn btn-primary"><i class="fa fa-user-o"></i> {{ username }}</span>
    </div>
    <div style="height: 1px"></div>
    <div class="container small-card">
        <h3>VISITORS {{ visitors|count }}:</h3>
        <div class="container header" style="max-width: 600px">
            <div class="col-xs-4">Name</div>
            <div class="col-xs-5">Time in</div>
            <div class="col-xs-2">Time delta</div>
            <div class="col-xs-1"></div>
        </div>
        {% for visitor in visitors %}
            <div class="container small-card {{ loop.cycle('odd', 'even') }}" style="max-width: 600px">
                <div class="col-xs-4">{{ visitor.name }}</div>
                <div class="col-xs-5">{{ visitor.time_in }}</div>
                <div class="col-xs-2"><span class="timer" data-start="{{ timestamp - visitor.time_in_timestamp }}"></span></div>
                <div class="col-xs-1"><a href="/remove_visitor?id={{ visitor.id }}"><i class="fa fa-sign-out"></i></a></div>
            </div>
        {% endfor %}
    </div>

    {# Current cash modal #}
    <div class="modal fade" id="current-cash-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-container card">
                <h1>Current cash: {{ shift.nominal_cash }} UAH</h1>
                <span class="btn-danger btn cancel" href="#" data-toggle="modal" data-target="#current-cash-modal">Close</span>
            </div>
        </div>
    </div>


    {# Add vivitor modal #}
    <div class="modal fade" id="add-visitor-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-container card">
                <h1>Add visitor</h1><br>
                <form method="post" action="/add_visitor">
                    <input type="text" name="name" placeholder="Name" autocomplete="off">
                    <input type="submit" name="login" class="btn btn-primary" value="Add">
                    <span class="btn-danger btn cancel" href="#" data-toggle="modal" data-target="#add-visitor-modal">Cancel</span>
                </form>
            </div>
        </div>
    </div>

    {# Discharge modal#}
    <div class="modal fade" id="discharge-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-container card">
                <h1>Discharge</h1><br>
                <form method="post" action="/discharge">
                    <input type="number" name="amount" placeholder="Amount" autocomplete="off">
                    <input type="text" name="reason" placeholder="Reason" autocomplete="off">
                    <input type="submit" name="login" class="btn btn-primary" value="Discharge">
                    <span class="btn-danger btn cancel" href="#" data-toggle="modal" data-target="#discharge-modal">Cancel</span>
                </form>
            </div>
        </div>
    </div>

    {# Register modal #}
    <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-container card">
                <h1>Add operator</h1><br>
                <form method="post" action="/register">
                    <input type="text" name="username" placeholder="Username" autocomplete="off">
                    <input type="password" name="password" placeholder="Password" autocomplete="off">
                    <div><input type="checkbox" name="is_admin" title="Is admin">Is admin</div>
                    <input type="submit" name="login" class="btn btn-primary" value="Register">
                    <span class="btn-danger btn cancel" href="#" data-toggle="modal" data-target="#register-modal">Cancel</span>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

