{% extends 'base.html' %}

{% block title %}
Log In
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="modal-container card">
        <h1>E-Blank</h1><br>
        <form method="post" action="">
            <p><input type="text" name="username" value="" placeholder="Username" autocomplete="off"></p>
            <p><input type="password" name="password" value="" placeholder="Password" autocomplete="off"></p>
            <p><input type="submit" class="modal-btn modal-submit" name="commit" value="Log in"></p>
        </form>
    {% if error %}
        <div class="text-error">{{ error }}</div>
    {% endif %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}