{% extends 'base.html' %}

{% block title %}
Main Page
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
{{ username }} is on duty<br>
VISITORS:<br>
{% for visitor in visitors %}
<li>{{ visitor.name }} - {{ visitor.time_in }} <a href="/remove_visitor?id={{ visitor.id }}">REMOVE</a></li>
{% endfor %}
<br><br><br>
<a href="/add_visitor">Add visitor</a><br>
{% if is_admin %}
<a href="/sign">Add operator</a><br>
{% endif %}
<a href="/logout">Log out</a>
{% endblock %}

{% block footer %}
{% endblock %}
