{% extends 'base.html' %}

{% block title %}
Main Page
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
{{ username }} is on duty<br>
current cash: {{ shift.nominal_cash }}<br>
VISITORS {{ visitors|count }}:<br>
{% for visitor in visitors %}
<li>{{ visitor.name }} - {{ visitor.time_in }} <a href="/remove_visitor?id={{ visitor.id }}">REMOVE</a></li>
{% endfor %}
<br><br><br>
<a href="/add_visitor">Add visitor</a><br>
<a href="/discharge">Discharge</a><br>
{% if is_admin %}
<a href="/sign">Add operator</a><br>
<a href="/statistics">Statistics</a><br>
{% endif %}
<a href="/close_shift">Close shift</a>
{% endblock %}

{% block footer %}
{% endblock %}
